<section class="meet-the-team-page">
  <section class="team-header">
    <h1 class="meet-team">Meet the Petsy Team</h1>
    <h4><em>Meet the team—and more importantly the dogs—behind p3tsy.</em></h4>
  </section>

  <br>

  <section class="team-members grid-container">

    <section class="bio">
      <%= image_tag("https://i.imgur.com/S8345XG.jpg") %>
      <h3>Charlotte</h3>
      <p>Principal Information Bark-itect</p>
    </section>

    <section class="bio">
      <%= image_tag("https://i.imgur.com/bdfAkTy.jpeg") %>
      <h3>Katie</h3>
      <p>Paw-ject Manager</p>
    </section>

      <section class="bio">
      <%= image_tag("https://i.imgur.com/N1qa5CR.jpeg") %>
      <h3>Mair</h3>
      <p>Head of Mess Development</p>
    </section>

      <section class="bio">
      <%= image_tag("https://i.imgur.com/EcgTkMB.jpg") %>
      <h3>Yoyo</h3>
      <p>Chief User Pet-sperience Engineer</p>
    </section>

  </section>



</section>