<section class="meet-the-team-page">
  <section class="team-header">
    <h1 class="meet-team">Meet the Petsy Team</h1>
    <h4><em>Something cute here lol</em></h4>
  </section>

  <br>

  <section class="team-members grid-container">

    <section class="bio">
      <%= image_tag("https://i.imgur.com/S8345XG.jpg") %>
      <h3>Charlotte</h3>
      <p>Short bio goes here !!!!</p>
    </section>

    <section class="bio">
      <%= image_tag("https://i.imgur.com/bdfAkTy.jpeg") %>
      <h3>Katie</h3>
      <p>Short bio goes here !!!!</p>
    </section>

      <section class="bio">
      <%= image_tag("https://i.imgur.com/QRtNOqF.jpeg") %>
      <h3>Mair</h3>
      <p>Short bio goes here !!!!</p>
    </section>

      <section class="bio">
      <%= image_tag("https://visualhunt.com/photos/1/puppy-sitting-on-tiled-floor.jpg?s=l") %>
      <h3>Yoyo</h3>
      <p>Short bio goes here !!!!</p>
    </section>

  </section>



</section>