<main>
	<section id="about-user" class="padded-container">
		<h2>Products from <%=@user.name%></h2>
		<br>
		<% @user.products.each do |product|%>
			<%= product.name %>
			<%= product.price %>
			<%= product.description %>
			<%# TODO: add product cards %>
		<% end %>
	</section>
</main>
