<main>
	<h2> New Cart </h2>
	<p>Oh no! Your cart is empty</p>
	<p> You can shop and shower your pet with love by clikcing the button down below </p>
	<%= link_to "All Products", products_path %>
</main>
